<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <link rel="stylesheet" href="{{ static_url_for('static', filename='gcss/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static_url_for('static', filename='css/wab.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static_url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static_url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ static_url_for('static', filename='img/favicon-96x96.png') }}">
    {% endblock %}

    <title>{% block title %}We are beautiful!{% endblock %}</title>
    {{ fontawesome_html() }}

    {% endblock %}
  </head>
  <body>

  {% if not bare %}
     {%- include 'navbar.html' -%}
  {% endif %}
  <div id="container" class="container-fluid">
    {% block content %}
    {% endblock%}
  </div>
  <div id="footer" style="height: 2rem;">
  </div>

  {% block js %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  {% endblock %}

  {% block scripts %}
  {% endblock %}

</body>
</html>

