{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h2>Our Company</h2>
      <p>
         We are beautiful is a project by Quatsch und Unfug ÖU,
         incorporated in Talinn, Estonia.
      </p>
      <p> 
         We encourage you to google our company name. :)
      </p>
      <p>
         Given that our main site is quite serious and not suited for much humor, we've decided to
         give our company a humerous name and not take ourselves too seriously.
      </p>

      <h2>About Quatsch und Unfug</h2>
      <p>
         Quatsch und Unfug ÖU is a for-profit company that is run as a non-profit company. 
         We would much prefer to have a non-profit company, because this reflects our values for
         this project. However, setting up non-profits is hard and expensive, so we started the 
         easy way by becoming <a href="https://e-resident.gov.ee/">digital e-residents</a> of 
         Estonia and remotely starting a company there.
      </p>

      <p>
         Prior to forming the company and up to our launch, we were 100% self-funded with
         every expense coming from our own pockets. We hope to continue operating the
         site and to create more models with your support.
         We promise to be responsible and tranparent with your support payments! If someone
         feels strongly that we should be a non-profit and would like to sponsor this 
         change (est. €5,000), please <a href="/contact">contact us</a>.
      </p>
      <p>
         We plan to only raise enough funds to cover our costs for operating the
         site, creating 3D models and providing us the tools to do this. We
         will never take dividends or otherwise profit from operating this site.
      </p>
      <p>
         However, we do have costs to take pictures of human models,
         sign modeling release contracts, make 3D models, provide human models
         with one printed 3D model of their own genitalia (as a thank you) and
         a host of other small costs. We are also constantly investing in technology
         to create models of inceasing complexity and with greater resolution. Your
         support relieves the burden on our own personal finances.
      </p>
      <p>
         If you appreciate what we do with this site, we would appreciate a small
         <a href="/support">support payment</a>. Since we are a for profit company 
         masquerading as a non-profit, we cannot really call them donations. 
         Also, these payments are also not tax deductible. But they are like donations
         in that you get nothing in return for them, except our undying eternal gratitude. \ø/
      </p>
      <p>
         Finally, once we start generating some support payments, we will start posting
         a public statement of our accounts so that you may see how your support payments
         are being spent. Transparency is almost as important to us as our models privacy.
    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}
