{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h2>Company</h2>
      <p>
         We are beautiful is a project by Quatsch und Unfug ÖU,
         incorporated in Talinn, Estonia.
      </p>
      <p> 
         We encourage you to google this. :)
      </p>
      <p>
         Given that our main site is quite serious and not suited for much humor, we've decided to
         give our company a humerous name and not take ourselves too seriously.
      </p>
      <p>
         Our address and contact info:
      </p>
      <p class="quote">
         Quatsch und Unfug OÜ<br>   
         Narva mnt 5</br>
         10117 Tallinn</br>
         Estonia</br>
         Talinn, Estonia</br>
         Registration number: 14891741
      </p>
      <p class="quote">
         info at wearebeautiful dot info
      </p>
    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}
