{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h2>Our Company</h2>
      <p>
         We are beautiful is a project by Quatsch und Unfug ÖU,
         incorporated in Talinn, Estonia.
      </p>
      <p> 
         We encourage you to google this. :)
      </p>
      <p>
         Given that our main site is quite serious and not suited for much humor, we've decided to
         give our company a humerous name and not take ourselves too seriously.
      </p>
      <p>
         <a href="/contact">Contact us</a>.
      </p>

      <h2>Our Company</h2>
        <p>
           Quatsch und Unfug ÖU is a for-profit company that is run as a non-profit company. 
           Setting up non-profits is hard and expensive, so we start the easy way.
           We promise to be responsible and tranparent with your support! But, if someone
           feel strongly that we should be a non-profit and would like to sponsor this change, please
          <a href="/contact">contact us</a>.
        </p>
        <p>
           We plan to only raise enough funds to cover our costs for operating the
           site, creating 3D models and providing us the tools to do this. We
           will never take dividends or otherwise profit from operating this site.
        </p>
        <p>
           However, we do have costs to take pictures of human models,
           sign modeling release contracts, make 3D models, provide human models
           with one printed 3D model of their own genitalia (as a thank you) and
           a host of other small costs.
        </p>
        <p>
           If you appreciate what we do with this site, we would appreciate a small
           <a href="/support">support payment</a>. Since we are a for profit company 
           masquerading as a non-profit, we cannot really call them donations. 
           Also, these payments are also not tax deductible.
        </p>
        <p>
           Each year we raise funds to cover our operational cost for the next year.
           Once our budget has been met, we will redirect visitors to donate to
           other sex-positive non-profits rathen than to us.
        </p>
        <p>
           This budget for this year has not been met. Please consider making
           a small support payment:
        </p>
    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}
