{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h5>Legal address</h5>
      <p>
         The legal address for Quatsch und Unfug ÖU is:
      </p>
      <p class="quote">
         Quatsch und Unfug OÜ<br>   
         Narva mnt 5</br>
         10117 Tallinn</br>
         Estonia</br>
         Talinn, Estonia</br>
         Registration number: 14891741
      </p>
      <p>
         Please note we're a virtual company and no actual team members are present at
         this location. Only the nice people who forward our mail for us, so please don't bother them.
      </p>

      <h5>Email</h5>
      
      <p>
         If you'd like to contact us, here is our email address:
      </p>

      <p class="quote">
         <code>hello at wearebeautiful dot info</code>
      </p>


      <h5>Twitter</h5>
      
      <p>
         We also have a Twitter account, if you'd like to follow us for news about new models being released:
      </p>

      <p class="quote">
         <a href="https://twitter.com/quatschunfug"><code>@quatschunfug</code></a>
      </p>

      <h5>GitHub</h5>
      
      <p>
         We use GitHub to manage the source code for our projects and the models themselves. You can
         find all the technical details about this project at our <a href="https://github.com/wearebeautiful">
         GitHub page</a>.
      </p>

    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}
