{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h2>About our model diversity</h2>
      <p>
        Our goal is to make a wide variety of models available that illustrate the great diversity of human bodies.
      </p>
      <p>
        We would like to have models who represent the whole spectrum of humans. As many genders, sexes, ethnicites and countries 
        of origin as are necessary to paint a sufficient picture of what adult humans look like. We'd like to represent
        ages 18+ and humans from all walks of life. In the end we want to show that we are all beautiful. Because we are!
      </p>
      <p>
        We hope to demonstrate human beings and to document their body history. We consider body history to capture 
        the events that have happened to the human model that may have altered their body. This
        could be circumcision, pregnancy/breastfeeding or one of the many possible surgeries that are possible today.
      </p>
      <p>
        However, at this point in time our project is young with a limited coverage of models. We're self funded and
        have spent quite a lot of money to have scanning sessions both in Switzerland and Spain, where we live. Thus
        the models you see on our site today are the people we know in our groups of friends, who trust us enough
        to take close-up pictures of their genitals.
      </p>
      <p>
        While we have contacted an endless number of people hoping they would say yes to participate in the project,
        only a limited number of people have said yes. Participating is not for the faint of heart! Our models
        must shave their genitals completely, since the algorithm that stitches the photos into a model cannot deal 
        with hair at all. Schedules must align and trust must be established. Given the number of circumstances
        that must fall into place, we're quite happy with the collection of models we've gathered so far. Thank you to
        all of our models!
      </p>
      <p>
        That said, our coverage of people you might find around Zürich and Barcelona is quite acceptable. But we're
        lacking people older than 50 years, people representative of asia, south america, africa or the middle east. 
        While we have a number of mothers who have participated, we've had limited luck in having trans-gender humans
        participate. We understand and respect people's hesitations to participate in our project; we'll venture on
        to find the more humans until we can paint an adeqate picture of what humans look like.
      </p>
      <p>
        If you feel that you have genitals that are not adequately represented on our site and you'd like to 
        volunteer to become a model, please <a href="/contact">contact us</a>. We can't guarantee that we can we will be 
        able to scan you -- this depends on where you live and what sort of <a href="/support">support</a> we can get to continue
        expanding the scope of this project.
      </p>
      <p>
        Finally, you may notice that we have more models of vulvas and fewer of penises. This not due to a bias in our
        model selection, but due to the fact that any motion during the scanning process will severely limit the
        the algorithms ability to make the 3D models from the images we take. Breathing during the scanning process is likely
        to lead to a failed scan, so our models must hold their breath while we take pictures as fast as we can. Then,
        vulvas are close to the body, whereas penises are further away from the body. Every single heartbeat will make the
        penis jiggle ever so slightly, throwing off the algorithm. We've had a lot failed penis scans, thus we have fewer
        penis models than vulvas. In due time, we hope to rectify this.
      </p>

    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}
