{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
        <h2>Support us! (Donate!)</h2>

        <p>
          Support us with your credit card, Google Pay or Apple Pay:
        </p>

        <h5>One time</h5>
        <div class="row">
           <div class="col-sm">
             <button type="button" class="btn btn-outline-success btn-lg donate-btn" onclick="send_to_stripe('sku_GgyxSjqybfG5Qf')">€1</button>
           </div>
        </div>

        <div class="row">
           <div class="col-sm">
             <button type="button" class="btn btn-outline-success btn-lg donate-btn" onclick="send_to_stripe('sku_GgwblTrgccDB36')">€10</button>
           </div>
           <div class="col-sm">
             <button type="button" class="btn btn-outline-success btn-lg donate-btn" onclick="send_to_stripe('sku_Ggwb8HkKIfUhx1')">€25</button>
           </div>
           <div class="col-sm">
             <button type="button" class="btn btn-outline-success btn-lg donate-btn" onclick="send_to_stripe('sku_Ggwc2WXG2ZthMd')">€50</button>
           </div>
        </div>
        <div class="row">
           <div class="col-sm">
             <button type="button" class="btn btn-outline-success btn-lg donate-btn" onclick="send_to_stripe('sku_GgwcjjNbCKvh8N')">€100</button>
           </div>
           <div class="col-sm">
             <button type="button" class="btn btn-outline-success btn-lg donate-btn" onclick="send_to_stripe('sku_GgwcGD0G4w3SeD')">€500</button>
           </div>
           <div class="col-sm">
             <button type="button" class="btn btn-outline-success btn-lg donate-btn" onclick="send_to_stripe('sku_GgwdaQXcebyIom')">€1,000</button>
           </div>
        </div>

        <br/>

        <h5>Recurring</h5>
        <div class="row">
           <div class="col-sm">
             <button type="button" class="btn btn-outline-success btn-lg donate-btn" onclick="send_to_stripe('plan_Ggwh2lQSb00BEs')">€1/month</button>
           </div>
           <div class="col-sm">
             <button type="button" class="btn btn-outline-success btn-lg donate-btn" onclick="send_to_stripe('plan_Ggwhappo3gknWx')">€2/month</button>
           </div>
           <div class="col-sm">
             <button type="button" class="btn btn-outline-success btn-lg donate-btn" onclick="send_to_stripe('plan_Ggwg0NyZjWqfuN')">€5/month</button>
           </div>
        </div>
        <div class="row">
           <div class="col-sm">
             <button type="button" class="btn btn-outline-success btn-lg donate-btn" onclick="send_to_stripe('plan_GgwgXEI7ijZYkQ')">€10/month</button>
           </div>
           <div class="col-sm">
             <button type="button" class="btn btn-outline-success btn-lg donate-btn" onclick="send_to_stripe('plan_GgwhiOiVL7DNAc')">€25/month</button>
           </div>
           <div class="col-sm">
             <button type="button" class="btn btn-outline-success btn-lg donate-btn" onclick="send_to_stripe('plan_GgwhURY1780nzx')">€50/month</button>
           </div>
        </div>

        <br/>

        <p>
           Alternatively, you may also make a direct SEPA bank transfer in EUR from a European country, using
           <b>IBAN</b> <code>BE80 9670 4813 2877</code>
           <b>BIC</b> <code>TRWIBEB1XXX</code>.
        </p>
    </div>
    <div class="col">
    </div>
  </div>
  <script src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript">

    function send_to_stripe(sku) {
        // This is the publishable API key, it is safe to be in github and here on this page.
        stripe = Stripe('pk_live_8CMSl3zujoNodtkD0KxgHxcS000WC16oza');
        stripe.redirectToCheckout({
          items: [
              {sku: sku, quantity: 1}
          ],
          successUrl: 'https://wearebeautiful.info/support/success',
          cancelUrl: 'https://wearebeautiful.info/support/cancel',
        }).then(function (result) {
          // TODO
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer
          // using `result.error.message`.
        });
    }
  </script>
{% endblock%}
