{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
        <h2>Whoops</h2>

        <p>
          Something didn't work or changed your mind?
        </p>
        <p>
          We have several options for <a href="/support.html">supporting us</a>.
        </p>

        <p>
          Otherwise, go back to <a href="/browse">browsing our models</a>, right?
        </p>

    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}
