{%- extends 'base.html' -%}
{%- block content -%}
<div class="row">

    <div class="col" id="view-left-col">
    </div>

    <div class="col-11" id="view-center-col">

        <div id="model"></div>

        <div class="distract-mode">

          <div class="model-desc float-right">
            {{ model.model_id}}-{{model.code}} 
          </div>

          <div class="model-desc">
            {% if model.body_part != "anatomical" %}
              {{ model.body_part }} of a {{ model.gender }} with a {{ model.body_type }} body.
            {% else %}
               anatomical model
            {% endif %}
          </div>

          <div class="float-right">
              <button type="button" class="btn btn-secondary">Focus!</button>
          </div>

          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Download model files (STL files)
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">solid.stl</a>
              <a class="dropdown-item" href="#">surface.stl</a>
            </div>
          </div>
        </div>

    </div>

    <div class="col" id="view-right-col">
    </div>

</div>
{% endblock%}

{% block scripts %}
{{ bootstrap.load_js() }}
<script type="module">

       	import * as THREE from '/static/js/node_modules/three/build/three.module.js';
       	import { STLLoader } from '/static/js/node_modules/three/examples/jsm/loaders/STLLoader.js';
        import { OrbitControls } from '/static/js/node_modules/three/examples/jsm/controls/OrbitControls.js';

       	var container;
       	var camera, scene, renderer, controls;

        $(document).ready(function() {
            init();
            animate();
        });

        function get_aspect_ratio() {
            return window.innerHeight * .75 / window.innerWidth;
        }

       	function init() {

                var width = $("#model").innerWidth();
                var height = width * get_aspect_ratio();

                // resize the div according to the aspect ratio
                $("#model").height(height);

       		camera = new THREE.PerspectiveCamera( 35, width / height, 1, 15 );
       		camera.position.set( 3, 0.15, 3 );

       		scene = new THREE.Scene();
       		scene.background = new THREE.Color( 0xEECCDD );

       		var material = new THREE.MeshPhongMaterial( { color: 0x9A1085, specular: 0x111111, shininess: 50 } );
                material.side = THREE.DoubleSide;

                var loader = new STLLoader();
       		loader.load( '{{ model_file }}', function ( geometry ) {

                        geometry.computeFaceNormals();
                        geometry.computeVertexNormals();
                        geometry.computeBoundingBox();
                        var scale_factor = 1.0 / geometry.boundingBox.max.y;

       			var mesh = new THREE.Mesh( geometry, material );
       			mesh.scale.set(scale_factor, scale_factor, scale_factor);

       			mesh.castShadow = false;
       			mesh.receiveShadow = false;

       			scene.add( mesh );
                        $("#progress").text("{{ model.model_id }}-{{ model.code }}");
       		} );

       		// Lights
       		scene.add( new THREE.HemisphereLight( 0x333333, 0x111111 ) );

       		addShadowedLight( 2, 2, 2, 0xffffff, .4 );
       		addShadowedLight( 2, 2, -2, 0xffffff, .4 );
       		addShadowedLight( -2, 2, 2, 0xffffff, .4 );
       		addShadowedLight( -2, 2, -2, 0xffffff, .4 );
       		addShadowedLight( 0, -2, 0, 0xffffff, .2 );

       		// renderer
       		renderer = new THREE.WebGLRenderer( { antialias: true } );
       		renderer.setPixelRatio( window.devicePixelRatio );
       		renderer.setSize( width, height );
       		renderer.outputEncoding = THREE.sRGBEncoding;

       		renderer.shadowMap.enabled = true;

                controls = new OrbitControls( camera, renderer.domElement );
                controls.autoRotateSpeed = 3.0;
                controls.autoRotate = true;
		controls.enableDamping = true;
		controls.dampingFactor = 0.05;

      		$("#model").append( renderer.domElement );

       		window.addEventListener( 'resize', onWindowResize, false );

       	}

       	function addShadowedLight( x, y, z, color, intensity ) {

       		var directionalLight = new THREE.DirectionalLight( color, intensity );
       		directionalLight.position.set( x, y, z );
       		scene.add( directionalLight );

       		directionalLight.castShadow = true;

       		var d = 1;
       		directionalLight.shadow.camera.left = - d;
       		directionalLight.shadow.camera.right = d;
       		directionalLight.shadow.camera.top = d;
       		directionalLight.shadow.camera.bottom = - d;

       		directionalLight.shadow.camera.near = 1;
       		directionalLight.shadow.camera.far = 4;

       		directionalLight.shadow.bias = - 0.002;

       	}

       	function onWindowResize() {

                var width = $("#model").innerWidth();
                var height = width * get_aspect_ratio();

                $("#model").height(height);
      		renderer.setSize(width, height);
       		camera.aspect = width / height; 
       		camera.updateProjectionMatrix();
       	}

       	function animate() {
       		requestAnimationFrame( animate );
       		render();
       	}

       	function render() {
                controls.update();
       		renderer.render( scene, camera );
       	}

       </script>
</script>
{% endblock %}
