{%- extends 'base.html' -%}
{%- block content -%}
<div class="row" id="top-row">

    <div class="col" id="view-left-col">
    </div>

    <div class="col-11" id="view-center-col">

        <div id="focus-overlay">
           <a href="#"><i id="close-focus" class="fas fa-times-circle d-none" style="color: #888"></i></a>
           <a href="#"><i id="open-focus" class="fas fa-expand" style="color: #888"></i></a>
        </div>
        <div id="code-overlay">
          {{ model.model_id }}-{{ model.code }}
        </div>
        <div id="nav-overlay d-none">
           <div class="color-well rounded d-inline-flex" id="color-well-1" style="background-color: #{{ color_1 }}"></div>
           <div class="color-well rounded d-inline-flex" id="color-well-2" style="background-color: #{{ color_2 }}"></div>
           <div class="color-well rounded d-inline-flex" id="color-well-3" style="background-color: #{{ color_3 }}"></div>
        </div>
        <div id="model"></div>

        <div id="distract-mode" class="d-none">

          <div class="model-desc float-right">
            We can put more guff here.
          </div>

          <div class="model-desc">
            {% if model.body_part != "anatomical" %}
              {{ model.body_part }} of a {{ model.gender }} with a {{ model.body_type }} body.
            {% else %}
               anatomical model
            {% endif %}
          </div>

          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Download model files (STL files)
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">solid.stl</a>
              <a class="dropdown-item" href="#">surface.stl</a>
            </div>
          </div>
        </div>

    </div>

    <div class="col" id="view-right-col">
    </div>

</div>
{% endblock%}

{% block scripts %}
{{ bootstrap.load_js() }}
<script type="module">

       	import * as THREE from '/static/js/node_modules/three/build/three.module.js';
       	import { STLLoader } from '/static/js/node_modules/three/examples/jsm/loaders/STLLoader.js';
        import { OrbitControls } from '/static/js/node_modules/three/examples/jsm/controls/OrbitControls.js';

       	var container, mesh = null;
       	var camera, scene, renderer, controls;
        var focus_mode = false;

        $(document).ready(function() {
            init();
            animate();
        });

        function get_aspect_ratio() {
            return window.innerHeight * .75 / window.innerWidth;
        }

        $('#close-focus').on('click', toggle_focus_mode);
        $('#open-focus').on('click', toggle_focus_mode);
        $('#focus-button').on('click', toggle_focus_mode);
        $('#color-well-1').on('click', function() { color_well_click("{{ color_1 }}") });
        $('#color-well-2').on('click', function() { color_well_click("{{ color_2 }}") });
        $('#color-well-3').on('click', function() { color_well_click("{{ color_3 }}") });

        function toggle_focus_mode() {
            focus_mode = !focus_mode;

            $("#view-left-col").toggleClass("d-none")
            $("#view-center-col").toggleClass("col-11")
            $("#view-center-col").toggleClass("col-12")
            $("#view-center-col").toggleClass("p-0")
            $("#view-right-col").toggleClass("d-none")
            $("#open-focus").toggleClass("d-none")
            $("#close-focus").toggleClass("d-none")
            $("#distract-mode").toggleClass("d-none")
            onWindowResize();
        }

        function color_well_click(color) {
            mesh.material = new THREE.MeshPhongMaterial( { color: '#' + color, specular: 0x111111, shininess: 50 } );
            mesh.material.side = THREE.DoubleSide;
        }

       	function init() {

                var width = $("#model").innerWidth();
                var height = width * get_aspect_ratio();

                // resize the div according to the aspect ratio
                $("#model").height(height);
                var pos = $("#model").position();
                $("#focus-overlay").css('top', pos.top + 3);
                $("#focus-overlay").css('left', pos.left + width - $("#focus-overlay").width() - 10);

                $("#code-overlay").css('top', pos.top + height - $("#code-overlay").height());
                $("#code-overlay").css('left', pos.left);

                $("#nav-overlay").css('top', pos.top + height - $("#nav-overlay").height());
                $("#nav-overlay").css('left', pos.left + width - $("#nav-overlay").width() - 10);
                $("#nav-overlay").toggleClass("d-none");

       		camera = new THREE.PerspectiveCamera( 35, width / height, 1, 15 );
       		camera.position.set( 3, 0.15, 3 );

       		scene = new THREE.Scene();
       		scene.background = new THREE.Color( 0xEECCDD );

       		var material = new THREE.MeshPhongMaterial( { color: 0x{{ color_1 }}, specular: 0x111111, shininess: 50 } );
                material.side = THREE.DoubleSide;

                var loader = new STLLoader();
       		loader.load( '{{ model_file }}', function ( geometry ) {

                        geometry.computeFaceNormals();
                        geometry.computeVertexNormals();
                        geometry.computeBoundingBox();
                        var scale_factor = 1.0 / geometry.boundingBox.max.y;

       			mesh = new THREE.Mesh( geometry, material );
       			mesh.scale.set(scale_factor, scale_factor, scale_factor);

       			mesh.castShadow = false;
       			mesh.receiveShadow = false;

       			scene.add( mesh );
                        $("#progress").text("{{ model.model_id }}-{{ model.code }}");
       		} );

       		// Lights
       		scene.add( new THREE.HemisphereLight( 0x333333, 0x111111 ) );

       		addShadowedLight( 2, 2, 2, 0xffffff, .4 );
       		addShadowedLight( 2, 2, -2, 0xffffff, .4 );
       		addShadowedLight( -2, 2, 2, 0xffffff, .4 );
       		addShadowedLight( -2, 2, -2, 0xffffff, .4 );
       		addShadowedLight( 0, -2, 0, 0xffffff, .2 );

       		// renderer
       		renderer = new THREE.WebGLRenderer( { antialias: true } );
       		renderer.setPixelRatio( window.devicePixelRatio );
       		renderer.setSize( width, height );
       		renderer.outputEncoding = THREE.sRGBEncoding;

       		renderer.shadowMap.enabled = true;

                controls = new OrbitControls( camera, renderer.domElement );
                controls.autoRotateSpeed = 3.0;
                controls.autoRotate = true;
		controls.enableDamping = true;
		controls.dampingFactor = 0.05;

      		$("#model").append( renderer.domElement );

       		window.addEventListener( 'resize', onWindowResize, false );
                $("#distract-mode").toggleClass("d-none")
       	}

       	function addShadowedLight( x, y, z, color, intensity ) {

       		var directionalLight = new THREE.DirectionalLight( color, intensity );
       		directionalLight.position.set( x, y, z );
       		scene.add( directionalLight );

       		directionalLight.castShadow = true;

       		var d = 1;
       		directionalLight.shadow.camera.left = - d;
       		directionalLight.shadow.camera.right = d;
       		directionalLight.shadow.camera.top = d;
       		directionalLight.shadow.camera.bottom = - d;

       		directionalLight.shadow.camera.near = 1;
       		directionalLight.shadow.camera.far = 4;

       		directionalLight.shadow.bias = - 0.002;

       	}

       	function onWindowResize() {

                var width, height;
                
                if (focus_mode) {
                    width = window.innerWidth;
                    // TODO: get rid of this hack!
                    height = window.innerHeight - $("#navbar").outerHeight() - 10;
                }
                else {
                    width = $("#model").innerWidth();
                    height = width * get_aspect_ratio();
                }
                

                $("#model").height(height);
                var pos = $("#model").position();
                $("#focus-overlay").css('top', pos.top + 3);
                $("#focus-overlay").css('left',pos.left + width - $("#focus-overlay").width() - 10);
                $("#code-overlay").css('top', pos.top + height - $("#code-overlay").height());
                $("#code-overlay").css('left', pos.left);
                $("#nav-overlay").css('top', pos.top + height - $("#nav-overlay").height());
                $("#nav-overlay").css('left', pos.left + width - $("#nav-overlay").width() - 10);


      		renderer.setSize(width, height);
       		camera.aspect = width / height; 
       		camera.updateProjectionMatrix();
       	}

       	function animate() {
       		requestAnimationFrame( animate );
       		render();
       	}

       	function render() {
                controls.update();
       		renderer.render( scene, camera );
       	}

       </script>
</script>
{% endblock %}
