{%- extends 'base.html' -%}
{%- block content -%}
<div class="row" id="top-row">

    <div class="col-1" id="view-left-col">
    </div>

    <div class="col-10" id="view-center-col">

        <div id="focus-overlay">
           <a href="#"><i id="close-focus" class="fas fa-times-circle d-none focus-button"></i></a>
           <a href="#"><i id="open-focus" class="fas fa-expand focus-button"></i></a>
        </div>
        <div id="code-overlay">
          {{ model.model_id }}-{{ model.code }}
        </div>
        <div id="nav-overlay" class="d-inline-flex">
           <div class="color-well rounded d-inline-flex" id="color-well-1" style="background-color: #{{ color_1 }}"></div>
           <div class="color-well rounded d-inline-flex" id="color-well-2" style="background-color: #{{ color_2 }}"></div>
           <div class="color-well rounded d-inline-flex" id="color-well-3" style="background-color: #{{ color_3 }}"></div>
        </div>
        <div id="model"></div>

        {% if screenshot %}
           <div style="margin-top: 10px">
               <button type="button" class="btn btn-warning" id="screenshot">Take screenshot</button>
           </div>
        {% endif %}

        <div id="distract-mode" class="d-none">
          <p class="jump-to text-right">
             Jump to:
             <a href="#model-info">model info.</a> |
             <a href="#person">person info.</a> |
             <a href="#model-info" data-toggle="collapse" data-target="#collapse-info" aria-expanded="false" aria-controls="collapse-info">model information</a> |
             <a href="#person" data-toggle="collapse" data-target="#collapse-person" aria-expanded="false" aria-controls="collapse-person">person information</a> |
             {% if model.comment %}
               <a href="#comment" data-toggle="collapse" data-target="#collapse-comment" aria-expanded="false" aria-controls="collapse-comment">model comment</a> |
            {% endif %}
             <a href="#download" data-toggle="collapse" data-target="#collapse-download" aria-expanded="false" aria-controls="collapse-download">download</a>
          </p>


          <div class="model-desc">
            {% if model.body_part != "anatomical" %}
              {{ model.body_part }} of a {{ model.gender }} with a {{ model.body_type }} body.
            {% else %}
               anatomical model
            {% endif %}
            {% if model.tag_list or model.mods_list %}
              <span class="model-tags">
                {% for mod in model.mods_list %}
                  <span class="badge badge-primary">{{ mod }}</span>
                {% endfor %}
                {% for tag in model.tags_list %}
                  <span class="badge badge-secondary">{{ tag }}</span>
                {% endfor %}
                {% for info in model.info_list %}
                  <span class="badge badge-info">{{ info }}</span>
                {% endfor %}
              </span>
            {% endif %}
          </div>

          <div id="accordion">
            <div class="card">
              <a id="model-info"></a>
              <div class="card-header" id="heading-info">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-info" aria-expanded="true" aria-controls="collapseOne">
                    3D model information
                  </button>
                </h5>
              </div>

              <div id="collapse-info" class="collapse show" aria-labelledby="heading-info" data-parent="#accordion">
                <div class="card-body">
                  <table class="table table-striped table-bordered table-condensed">
                     <tr><td>body part</td><td>{{ model.body_part }}</td></tr>
                     <tr><td>pose</td><td>{{ model.pose }}</td></tr>
                     <tr><td>arangement type</td><td>{{ model.arrangement }}</td></tr>
                     <tr><td>excited</td><td>{{ model.excited }}</td></tr>
                     <tr><td>mother</td><td>{{ model.mother }}</td></tr>
                     <tr><td>modifications</td><td>{{ model.modification }}</td></tr>
                     <tr><td>created</td><td>{{ model.created }}</td></tr>
                     <tr><td>processed</td><td>{{ model.processed }}</td></tr>
                     <tr><td>released</td><td>{{ model.released }}</td></tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <a id="person"></a>
              <div class="card-header" id="heading-person">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-person" aria-expanded="false" aria-controls="collapseTwo">
                    Human model information
                  </button>
                </h5>
              </div>
              <div id="collapse-person" class="collapse" aria-labelledby="heading-person" data-parent="#accordion">
                <div class="card-body">
                  <table class="table table-striped table-bordered table-condensed">
                     <tr><td>id</td><td>{{ model.model_id }}</td></tr>
                     <tr><td>gender</td><td>{{ model.gender }}</td></tr>
                     <tr><td>body type</td><td>{{ model.body_type }}<t/d></tr>
                     <tr><td>tags</td><td>{{ model.tags }}</td></tr>
                  </table>
                </div>
              </div>
            </div>

            {% if model.comment %}
              <div class="card">
                <a id="comment"></a>
                <div class="card-header" id="heading-comment">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-comment" aria-expanded="false" aria-controls="collapse-comment">
                      Model comment
                    </button>
                  </h5>
                </div>
                <div id="collapse-comment" class="collapse" aria-labelledby="heading-comment" data-parent="#accordion">
                  <div class="card-body">
                    {{ model.comment }}
                  </div>
                </div>
              </div>
            {% endif %}

            <div class="card">
              <a id="download"></a>
              <div class="card-header" id="heading-download">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-download" aria-expanded="false" aria-controls="collapse-download">
                    Download model files
                  </button>
                </h5>
              </div>
              <div id="collapse-download" class="collapse" aria-labelledby="heading-download" data-parent="#accordion">
                <div class="card-body">
                   <p>
                      For informaton on how to 3D print or order 3D prints of these models, please read our <a href="/docs/printing-guide">
                      model printing guidelines</a>. To download the models, select a file below:
                   </p>
                   <table class="table table-striped table-bordered table-condensed">
                      <tr>
                        <td><a href="{{ downloads['solid'][1] }}">{{ downloads['solid'][2] }}</a> ({{ downloads['solid'][0] }})</td>
                        <td>STL file format, ready for 3D printing</td>
                      </tr>
                      <tr>
                        <td><a href="{{ downloads['surface'][1] }}">{{ downloads['surface'][2] }}</a> ({{ downloads['surface'][0] }})</td>
                        <td>STL file format, suited for 3D modeling</td>
                      </tr>
                   </table>
                </div>
              </div>
            </div>

          </div>

          {% if related.models %}
            <h4 style="padding-top: 25px">{{ related.desc }}</h4>
            <div id="related" class="row">
               {% for m in related.models %}
                 <div class="col-4">
                     <p style="margin-bottom: 1px"><a href="/model/{{ m.model_id }}-{{ m.code }}">{{ m.model_id }}-{{m.code}}</a></p>
                     <a href="/model/{{ m.model_id }}-{{ m.code }}"><img src="{{ url_for_screenshot(m) }}" class="screenshot"></a>
                 </div>
               {% endfor %}
            </div>
          {% endif %}

        </div>

    </div>

    <div class="col-1" id="view-right-col">
    </div>

</div>
{% endblock%}

{% block scripts %}
{{ bootstrap.load_js() }}
<script type="module">

       	import * as THREE from '{{ static_url_for('static', filename="js/node_modules/three/build/three.module.js") }}';
       	import { STLLoader } from '{{ static_url_for('static', filename="js/node_modules/three/examples/jsm/loaders/STLLoader.js") }}';
        import { OrbitControls } from '{{ static_url_for('static', filename="js/node_modules/three/examples/jsm/controls/OrbitControls.js") }}';

       	var container, mesh = null;
       	var camera, scene, renderer, controls;
        var focus_mode = false;

        $(document).ready(function() {
            init();
            animate();
        });

        function get_aspect_ratio() {
            if ({{ screenshot }})
                return 1.0;
            return window.innerHeight * .75 / window.innerWidth;
        }

        $('#close-focus').on('click', toggle_focus_mode);
        $('#open-focus').on('click', toggle_focus_mode);
        $('#focus-button').on('click', toggle_focus_mode);
        $('#color-well-1').on('click', function() { color_well_click("{{ color_1 }}") });
        $('#color-well-2').on('click', function() { color_well_click("{{ color_2 }}") });
        $('#color-well-3').on('click', function() { color_well_click("{{ color_3 }}") });
        $('#screenshot').on('click', function() { screenshot() });

        function toggle_focus_mode() {
            focus_mode = !focus_mode;

            $("#view-left-col").toggleClass("d-none")
            $("#view-center-col").toggleClass("col-10")
            $("#view-center-col").toggleClass("col-12")
            $("#view-center-col").toggleClass("p-0")
            $("#view-right-col").toggleClass("d-none")
            $("#open-focus").toggleClass("d-none")
            $("#close-focus").toggleClass("d-none")
            $("#distract-mode").toggleClass("d-none")
            onWindowResize();
        }

        function color_well_click(color) {
            mesh.material = new THREE.MeshPhongMaterial( { color: '#' + color, specular: 0x111111, shininess: 50 } );
            mesh.material.side = THREE.DoubleSide;
        }

       	function init() {

                var width = $("#model").innerWidth();
                var height = width * get_aspect_ratio();
                var scale_factor;


                position_elements(width, height);

       		camera = new THREE.PerspectiveCamera( 35, width / height, 1, 15 );
                if ({{ screenshot }}) {
                    scale_factor = .85;
                    camera.position.set( 0, .5, 3 );
                } else {
                    scale_factor = 1.20;
                    camera.position.set( 3, .5, 3 );
                }

       		scene = new THREE.Scene();
       		scene.background = new THREE.Color( 0xEECCDD );

       		var material = new THREE.MeshPhongMaterial( { color: 0x{{ color_1 }}, specular: 0x111111, shininess: 50 } );
                material.side = THREE.DoubleSide;

                var loader = new STLLoader();
       		loader.load( '{{ model_file }}', function ( geometry ) {

                        geometry.rotateZ(1.57079);
                        geometry.computeFaceNormals();
                        geometry.computeVertexNormals();
                        geometry.computeBoundingBox();

                        if (geometry.boundingBox.max.x < geometry.boundingBox.max.y)
                            scale_factor /= geometry.boundingBox.max.y;
                        else
                            scale_factor /= geometry.boundingBox.max.x;

       			mesh = new THREE.Mesh( geometry, material );
       			mesh.scale.set(scale_factor, scale_factor, scale_factor);

       			mesh.castShadow = false;
       			mesh.receiveShadow = false;

       			scene.add( mesh );

                        if ({{screenshot}}) {
                            $("#model").width(1024);
                            $("#model").height(1024);
                            onWindowResize();
                            render();
                        }

       		}, function ( prog ) {
                   // prog.total, prod.loaded
                }, function ( err ) {
                   console.log("Cannot load model. Are source model files gzipped?");
                });

       		// Lights
       		scene.add( new THREE.HemisphereLight( 0x333333, 0x111111 ) );

       		addShadowedLight( 2, 2, 2, 0xffffff, .4 );
       		addShadowedLight( 2, 2, -2, 0xffffff, .4 );
       		addShadowedLight( -2, 2, 2, 0xffffff, .4 );
       		addShadowedLight( -2, 2, -2, 0xffffff, .4 );
       		addShadowedLight( 0, -2, 0, 0xffffff, .2 );

       		// renderer
                var flags = { antialias: true };
                if ({{ screenshot }})
                    flags['preserveDrawingBuffer'] = true;
                renderer = new THREE.WebGLRenderer(flags);
       		renderer.setPixelRatio( window.devicePixelRatio );
       		renderer.setSize( width, height );
       		renderer.outputEncoding = THREE.sRGBEncoding;

       		renderer.shadowMap.enabled = true;

                controls = new OrbitControls( camera, renderer.domElement );
                if (!{{ screenshot }}) {
                    controls.autoRotateSpeed = 3.0;
                    controls.autoRotate = true;
                    controls.enableDamping = true;
                    controls.dampingFactor = 0.05;
                }

      		$("#model").append( renderer.domElement );

       		window.addEventListener( 'resize', onWindowResize, false );
                $("#distract-mode").toggleClass("d-none")
       	}

       	function addShadowedLight( x, y, z, color, intensity ) {

       		var directionalLight = new THREE.DirectionalLight( color, intensity );
       		directionalLight.position.set( x, y, z );
       		scene.add( directionalLight );

       		directionalLight.castShadow = true;

       		var d = 1;
       		directionalLight.shadow.camera.left = - d;
       		directionalLight.shadow.camera.right = d;
       		directionalLight.shadow.camera.top = d;
       		directionalLight.shadow.camera.bottom = - d;

       		directionalLight.shadow.camera.near = 1;
       		directionalLight.shadow.camera.far = 4;

       		directionalLight.shadow.bias = - 0.002;

       	}

        function position_elements(width, height) {

                // resize the div according to the aspect ratio
                $("#model").height(height);
                var pos = $("#model").position();

                $("#focus-overlay").css('top', pos.top + 3);
                $("#focus-overlay").css('left', pos.left + width - $("#focus-overlay").width() - 10);

                $("#code-overlay").css('top', pos.top + height - $("#code-overlay").height());
                $("#code-overlay").css('left', pos.left);

                $("#nav-overlay").css('top', pos.top + height - $("#nav-overlay").height());
                $("#nav-overlay").css('left', pos.left + width - $("#nav-overlay").width() - 13);
        }

       	function onWindowResize() {

                var width, height;
                
                if (focus_mode) {
                    width = window.innerWidth;
                    // TODO: get rid of this hack!
                    height = window.innerHeight - $("#navbar").outerHeight() - 10;
                }
                else {
                    width = $("#model").innerWidth();
                    height = width * get_aspect_ratio();
                }
                
                $("#model").height(height);
                var pos = $("#model").position();
                position_elements(width, height);

      		renderer.setSize(width, height);
       		camera.aspect = width / height; 
       		camera.updateProjectionMatrix();
       	}

       	function animate() {
       		requestAnimationFrame( animate );
       		render();
       	}

       	function render() {
                controls.update();
       		renderer.render( scene, camera );
       	}

        function screenshot() {
                var mime = "image/jpeg";
                var img_data = renderer.domElement.toDataURL(mime);

                $.ajax({
                  type: "POST",
                  url: "http://localhost/model/{{ model.model_id }}-{{ model.code }}/screenshot",
                  data: img_data
                });
         }

       </script>
</script>
{% endblock %}
