<!-- THIS IS AN EXHIBIT TEMPLATE! HTML comments demark model breaks, where each section corresponds to one model -->
<p>
   The first model is a full body scan of a male, minus the head and feet. We can't show the model's head or you'd be
   able to identify the person. None of our models contain obvious features that would allow you to identify the person.
</p>
<p>
   This model is interesting because you can clearly see the body hair that covers most of the model. Hair poses
   difficulties in the process of making models and we require that our models shave their genitals, otherwise the
   models would be impossible to create.
</p>
<p>
   If you click on the image you'll be taken to a page where you can twirl, pinch and zoom the model to investigate
   every detail of the model. Click on it and see if you can zoom in and look under the testicles!
</p>
<!-- model break -->
<p>
   This full body model of a female is quite different from the first model -- you can clearly see that this model
   has no body hair. If you take a look at her breasts you'll notice that one nipple is pierced and that her breasts
   are different sizes. This is very common -- humans are not usually perfectly symmetrical.
</p>
<p>
   If you click on the model and spin it around and look underneath her buttocks you can see a line of triangles
   in the fold between her buttocks and her legs. This line is an artifact of the 3D model -- as much as we would
   like to show perfect models, they would simply be too large to be viewed on a mobile phone. In order to make
   this site accessible to everyone, we worked hard to keep the models small so that they can be viewed even on the
   simplest smartphones.
</p>
<!-- model break -->
<p>
   The first genital close up is of a male with a penis who is lying down. In this case it is an uncircumcised penis --
   you can see how the foreskin nearly completely covers the glans of the penis. In our penis exhibit we'll
   show you both circumsized and uncircumsized penises for comparison.
</p>
<p>
   You can also see that the testicles appear to be large in relation to the size of the penis. This is accentuated
   by the pose (lying) and appears less noticable in models of males who are standing.
</p>
<p>
   In this model as well, you can see some artifacts if you view the testicles from the bottom. If you
   decide to 3D print this model, you will download a much higher resolution version and these artifacts will not appear.
</p>
<!-- model break -->
<p>
   The first vulva model shows a female who is lying down and her labia have been <em>arranged</em>. Arrangement is a
   tricky concept -- any time that the model was prepared, or posed, in some way we describe that as arranged. When
   a model is not arranged in any way, we describe it as <em>natural</em>.
</p>
<p>
   You should also notice that the labia minora (the inner labia) are asymmetric -- this is also quite common. And
   the labia majora are almost not perceptible in this model.
</p>
<p>
   Please note that we don't call these models vaginas, since the vagina is not really visible here. For more details
   on this, as well as an explanation for labia minora/majora please see <a href="/docs/guide#vulva">our illustrated
   guide to human sexuality</a>.
</p>
<!-- model break -->
<p>
   This model of breasts is from a standing female. Here too, the breasts are also ever so slightly different sizes and
   the nipples are quite pronounced.
</p>
<p>
   Nipples are another human feature that vary greatly from human to human!
</p>
<p>
   Also note how the skin is quite smooth, with no hair, and free of any blemishes.
</p>
<!-- model break -->
<p>
    This buttocks model is of a standing male.
</p>
<p>
   We are pleased with this model -- it came out very well with very few visible flaws.
</p>
<p>
   A previous version of this model had an elongated rectangular artifact above the right buttock -- this was our
   scanning tag -- effectively a ruler on a sticker that all of our models are required to wear during the photo shoot.
   This ruler gives us the necessary information on how to scale the model so that we can ensure that the model
   is an accurate size.
</p>
<!-- model break -->
<p>
    This lower body model is of a standing male.
</p>
<p>
    In this model you can also see that the model has body hair and an uncircumsized penis.
</p>
<!-- model break -->
<p>
   We hope that this first exhibit has given you a gentle introduction to our project and the various types of models
   that we've collected. We tried to highlight the various features of each model, and most importantly that none
   of these models are <em>perfect</em>. With humans there is no perfect -- every human is distinct -- and we are all
   beautiful!
</p>
