<!-- THIS IS AN EXHIBIT TEMPLATE! HTML comments demark model breaks, where each section corresponds to one model -->
<p>
   This vulva model of a mother who has given vaginal birth shows an interesting body history event left over
   from the birth of the child. An <a href="https://en.wikipedia.org/wiki/Episiotomy">episiotomy</a> is a medical
   procedure to make an incision on the lower portion of the vagina in order to increase the size of the birth canal
   so that the baby can be born without causing uncontrolled tearing in the vaginal walls.
</p>
<p>
   You can see this scar near the bottom center of this model, running in a diagonal line towards the right.
<p>
<p>
   This vulva is also interesting in that neither the labia majora nor the labia minora are very pronounced.
</p>
<!-- model break -->
<p>
   This vulva model on the other hand has very pronounced labia minora. The contrast betwen this vulva model
   and the previous model shows how wide the range in labia minora can be.
</p>
<!-- model break -->
<p>
   The previous models showed pronounced labia minora, whereas this model shows pronounced labia majora,
   but very slight labia majora.
</p>
<p>
   We are extremely pleased to be able to put pictures to the words we've learned from textbooks -- often
   times textbooks only have one or two drawings of vulvas that do not actually resemble any one person.
</p>
<!-- model break -->
<p>
   The fingers you can see in this model show off a <em>retracted</em> model, where the female was using
   her fingers to retract her labia in order to provide a better view of her clitoris.
</p>
<p>
   We always need to be careful, as we cannot use models that show rings or other identiying
   marks, which could be used to identify the person.
</p>
<!-- model break -->
<p>
   This transgender person has a vulva with a clitoris that shows <a href="https://en.wikipedia.org/wiki/Clitoromegaly">
   clitoromegaly</a>, which in this case has been caused by hormone treatments.
</p>
<p>
   This model is also an example of an <em>arranged vulva</em> where the labia minora has been arranged
   to be symmetric in order to clearly show the enlarged clitoris.
</p>
<p>
   We encourage you to take a closer look at this vulva to see how the clitoris looks compared to the
   other vulva models in this exhibit.
</p>
<!-- model break -->
<p>
   Here we have our first compound model that is comprised of two separate scans. You can clearly see how
   the skin is smooth on the left side, but has goose bumps on the right side. This is because the female
   in this model was not aroused during the left scan, but aroused during the right scan.
</p>
<p>
   These scans can be very difficult to create, since it is challenging for us to ensure that the model
   is positioned in exactly the same way in both scans. While this 3D model wasn't perfect, we can see
   how the labia minora moved up slightly and if we rotate the model to look at the center line
   from the edge, we can see how the vulva has become more full with arousal.
</p>
<!-- model break -->
<p>
   This model shows a clitoral hood piercing.
</p>
<!-- model break -->
<p>
   Finally, this model has a slight <em>lip</em> at the bottom of the vagina. We've not been able to
   definitively find the name for this, if it has a name. If you know, please do <a href="/contact">let
   us know</a>!
</p>
