<!-- THIS IS AN EXHIBIT TEMPLATE! HTML comments demark model breaks, where each section corresponds to one model -->
<p>
   The first penis in this exhibit is a male lying down who has an uncircumsized penis. 
</p>
<p>
   In this exhibit, pay attention to the size and location of the testicles -- every person is different!
</p>
<p>
   If you examine this 3D model closely, you may notice that it doesn't lie flush on the torso of the person and
   that the foreskin tapers nearly to a point.
</p>
<!-- model break -->
<p>
   This penis is also of a male who is lying down, but is not circumcised.
</p>
<p>
   Notice how clearly you can see the shape of the glans (the tip of the penis) and that it lies flush to the torso
   and how this penis is thicker than the first one. 
</p>
<!-- model break -->
<p>
   This penis is from the same person as the previous penis, but the person is standing and the penis is very clearly erect.
</p>
<p>
   Creating erect penis models is excruciatingly difficult. The software that turns the photos of the person
   into 3D models is extremely sensitive to movement during the scan. Even the slightest movement
   and the 3D model may not be successfully created by the software.
</p>
<p>
   That is exactly what happened in this case; none of the three scans that were made yielded a good 3D model.
   But, these scans were the closest we've ever gotten to creating an erect penis model, so we combined portions
   of the three scans into one and with a lot of post-processing created this 3D model.
</p>
<!-- model break -->
<p>
   This 3D model shows an uncircumsized penis arranged in a <em>retracted</em> arrangment. Prior to the scan
   the foreskin of the person was retracted to expose the glans of the penis.
</p>
<p>
   Do not confuse this with a circumcised penis that has the foreskin removed. This person still has their 
   foreskin and you can see how it curls up at the glans.
</p>
<p>
   Compare this to the second penis in this exhibit which is circumcised. In that model you do not see the bunched foreskin.
</p>
<!-- model break -->
<p>
   In this model we can see the uncircumsized penis of a male who is sitting down. This person refused to
   shave their pubic hair for the scan, but luckily the 3D model still turned out well. You can see the
   pubic hair as the wavy mass that site above the penis -- it is easy to see that the software still has
   a lot of difficulties with hair.
</p>
<p>
   Notice how the foreskin on this penis doesn't come to a point, nor does it enclose the glans of
   the penis fully. This is very much temperature dependent -- in warmer temperatures penises are more
   relaxed and larger, sometimes causing the foreskin to not fully cover the glans.
</p>
<!-- model break -->
<p>
   Let us examine the effect of temperature on penises further. This compound model of a sitting person was 
   created from two separate scans that were cut in half and then joined together to form this 3D model.
</p>
<p>
   The left size shows the penis after it has been submerged in cold water for 10 minutes and the right side shows
   the penis submerged in warm water for 10 minutes. You can see how the testicles on the cold side
   are smaller and larger on the warm side. The penis on the warm side also hangs more freely than it 
   does on the cold side.
</p>
<p>
   Open this model for more details on how this 3D was created.
</p>
<!-- summary break -->
<p>
   As you can see, penises are just as dynamic as vulvas are. There are many different shapes and sizes and
   they may be circumsized or not. And then add in the effects of temperature and state of arousal and
   a penis may appear drastically different depending on the circumstances.
</p>
