{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col-12 text-layout">
        <h2>About</h2>
        
        <p>
        We're sex positive 3D printing enthusiasts and after discovering the
        <a href="https://www.theguardian.com/commentisfree/2016/sep/15/3d-model-clitoris-sexual-revolution-sex-education-womens-sexuality">3D
        clitoris model</a> we started printing and gifting them to our friends. This
        playful beginning only set off a much larger project than we initially
        imagined.
        </p>

        <p>
        Our life experiences and this new model led us to realize that many 
        humans have questions about sexuality and in particular about their own genitals.
        </p>

        <ul>
           <li>Is my shape normal?</li>
           <li>Are my gentials too small? Too large?</li>
           <li>What do the genitals of a trans-gender person look like?</li>
        </ul>

        <p>
        Sadly, there are few places where you can find answers to these questions.
        Unfortunately many people get sexual knowledge from consuming pornography, 
        which promotes a lot of concepts and ideas that simply do not apply to 
        real life. We hope to make models available so that anyone can 
        view, study, download or even print these models without time pressure, 
        in privacy. Printing our models for your purposes should also be inexpensive 
        and reasonably fast if you have access to a 3D printer.
        </p>
        <p>
        With this project we aim to educate the world about human sexuality by making 
        3D models of human genitals from all over the world. We aim to show females, males 
        and many in between; all major ethnicities, body shapes and ages. We aim to show 
        common shapes and uncommon shapes alike -- both are beautiful. These are our goals, 
        but sadly we've not reached our goal yet, so we invite you to read our 
        <a href="{{ url_for('docs.diversity') }}">model diversity</a> statement.
        </p>
        <p>
        All of our human models will be anonymous and must provide written consent.
        We will destroy all source images and personally identifying information 
        as soon as the 3D model is created from the source photos. The human models 
        may revoke their consent to have their 3D models on this site. However,
        it is impossible to remove all the copies that people have downloaded.
        </p>
        <p>
        <b>
        Our goal is to be educational.<br/> 
        We are not peddling pornography.<br/>
        We aim to dispel myths about the human body.<br/>
        </b>
        </p>
        <p>
        Find out more about <a href="{{ url_for("index.team") }}">our team</a>.
        </p>
        <p>
        We Are Beautiful is a product of Quatsch und Unfug OÜ, registered in
        Tallinn and created by Estonian digital e-residents. Our models are created 
        near Zürich, Switzerland and the company web site and business is created and
        maintained from Barcelona, Spain.
        </p>

        <h3>Disclaimer</h3>

        <p>
        Human sexuality is a sensitive, deep and evolving topic, especially in these modern times.
        We worked very hard to learn and use the most up to date correct terms for human sexuality,
        and we have made many attempts to find volunteers who are knowledgeable in this field who could
        advise us. While some people expressed interest in helping out, very few actually did, leaving
        us continually searching for advisors. And then a pandemic broke out, which wreaked havoc
        on everything and the few people advising simply stopped communicating.
        </p>

        <p>
        At this point, we feel that the site and its use of terminology is good enough&trade; for us to 
        proceed to open this site to the public. It is by no means perfect and it may actually be impossible
        to create a perfect site without any sort of mistakes and one that everyone agrees uses correct
        and sensitive terminology.
        </p>

        <p>
        Should you feel that we've gotten something wrong, please <a href="/contact">contact us</a> and let
        us know what is wrong and how we can fix it. We'll be able to act better if you can provide us a link
        to what is wrong and a link to a resource on the net that explains the concept that we've gotten wrong.
        We promise to act on feedback that is constructive and feasible for us to implement.
        </p>

      </div>

  </div>
{% endblock%}
