{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col-12 text-layout">
      <h2>Team</h2>
      <p>
        Our team consists of:
      </p>
      <p class="team-name">Robert "Mayhem" Kaye</p>
      <p class="team-title">Chief Quatsch Officer</p>
      <p class="team-desc">
         Mayhem is an über-geek who also loves to tinker endlesslessly,
         but he actually does love to sleep. Mayhem understands technology, and
         the importance of education, so therefore is willing to take on the 
         business aspects of making this site run. He lives in Barcelona, Spain
         and runs the <a href="https://metabrainz.org">MetaBrainz Foundation</a>
         as a day job.
      </p>
      <p class="team-desc">
         You can find him on Twitter as <a href="https://twitter.com/mayhemBCN">MayhemBCN</a> or
         view his <a href="https://mayhem.cat">rather unique personal home-page</a>. You can email
         him at <b>rob at wearebeautiful dot info</b>.
      </p>

      <p class="team-name">Marc "Trench" Tschudin</p>
      <p class="team-title">Chief Unfug Officer</p>
      <p class="team-desc">
         Trench is an über-geek and loves to model random things,
         turning information into bits and bits into education. A general 
         do-gooder who practically never sleeps.
      </p>
      <p class="team-desc">
         He generally prefers to keep working away in his secret lair in the Alps of switzerland,
         but is willing to receive emails at <b>marc at wearebeautiful dot info</b>.
      </p>

      <h2>Additional help</h2>
      <p class="team-name">Monkey</p>
      <p class="team-title">Volunteer web designer</p>
      <p class="team-desc">
        Monkey is a skilled web engineer and overall designer who created our logo and helps us 
        with web design for this website. Thank you for all your help in making our pages look
        nice!
      </p>
      <p class="team-desc">
         You can find Monkey at <a href="http://www.monkeydo.digital/">{ Monkey.Do }</a>.
      </p>

      <br/>

      <p class="team-name">Anonymous Helpers</p>
      <p class="team-title">System Administration, UX Consulting</p>
      <p class="team-desc">
        We had a number of other people help us with this project. In particular a friend of the project
        spent a lot of time advising us on how to setup our hosting infrastructure for
        optimium efficiency and stability. Another friend advised us how to create the proper 
        User Experience for our site, ensuring that the site is useful, easy to understand and working 
        as one would expect a modern web site to work. 
      </p>
      <p class="team-desc">
        However, due to the sensitive nature of this site, these helpers would prefer to remain
        anonymous. Thank you very much anonymous helpers, we couldn't have done it without you!
      </p>

      <h2>Advisors</h2>
      <p>
         While we were creating this project we needed to learn quite a few things
         about the nuances of human sexuality. We also needed advisors to review
         our work to ensure that our work was accurate, inclusive and sensitive.
         Our board of advisors have given many hours of their own time to help
         the creation of this project. Thank you to all of you!
      </p>

      <p class="team-name">Shauna B</p> 
      <p class="team-title">Sex education specialist</p>
      <p class="team-desc">
         As a journalist specializing in sex education, Shauna has seen all too often what can 
         happen when people don’t receive adequate sex education. She hopes that We Are Beautiful 
         can help young people and adults gain a better understanding about bodies and realize just 
         how beautiful they truly are.
      </p>
      <p class="team-desc">
        Shauna runs the site <a href="http://www.stumblingonsexuality.com/">Stumbling on Sexuality</a> and 
        writes for different publications about sexuality, women’s health, and feminist politics. You can 
        <a href="https://twitter.com/ShaunaBlackmon">follow her on Twitter</a> for all things feminism and internet.
      </p>

      <p class="team-name">Ms. J</p>
      <p class="team-title">Healthcare provider</p>
      <p class="team-desc">
         Ms J is a healthcare provider in emergency care. She spent many years involved in sexual health 
         promotion and education as well as working as a birthing consultant. Since her early days, the human 
         body has been of fascination and she’s always sought out images and resources to bring human 
         sexual and reproductive anatomy to our daily vision. There could’t be more truth in the words 
         We Are Beautiful.
      </p>

      <p class="team-name">Kirsten T</p>
      <p class="team-title">Educator</p>
      <p class="team-desc">
         Kisten has provided valuable insight into the educational aspects of this project
         as well as providing a general sanity checking perspective. She advised us on
         issues relating to giving birth and being a mother. She also provided us perspectives on 
         how to structure our data model in order to adequately capture information on our models who
         are mothers. Additionally, she spent a great deal of time copy editing our site.
      </p>
  
    </div>
  </div>
{% endblock%}
