SECRET_KEY = "add your key here"

MODEL_DIR = "<path to model git>"
SUBMIT_SCREENSHOTS = False

USE_SITE_AUTH=False
SITE_USERNAME="test"
SITE_PASSWORD="test"

# Without trailing /
STATIC_BASE_URL = ""
IMAGE_BASE_URL = ""
STL_BASE_URL = ""

# For theming -- run generate_theme.py to generate a new scss file, then rebuild, reload
THEME_BASE_COLOR = "cf7c2d"
THEME_SECONDARY_COLOR = "036882"
THEME_TERIARY_COLOR = "036882"

OBJECT_COLOR_0 = "9F33A0"
OBJECT_COLOR_1 = "E3C752"
OBJECT_COLOR_2 = "469991"
BG_COLOR = "F2ECE5"
