SECRET_KEY = "add your key here"

MODEL_DIR = "<path to model git>"
SEND_SNAPSHOTS = False

USE_SITE_AUTH=False
SITE_USERNAME="test"
SITE_PASSWORD="test"

# Without trailing /
STATIC_BASE_URL = ""
IMAGE_BASE_URL = ""
STL_BASE_URL = ""
