{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h2>Browse by model</h2>
      <p>
      To find out more about our selection of models, please read our <a href="{{ url_for("model.diversity") }}">model diversity
      statement</a>. We also have <a href="{{ url_for("model.statistics") }}">model statistics</a>.  We have the following models available:
      </p>

      {% for model in model_list %}
        {{ list_models(model, models[model]) }}
      {% endfor %}

    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}

{% macro list_models(id, models) -%}
    <p class="browse-section">
      {{ id }}
    </p>

    <table class="table table-hover table-sm">
      <thead>
        <td colspan="3">
          {{ models[0].english_description() }}

          {% if models[0].tags_list or models[0].history_list %}
            <span class="model-tags">
              {% for event in models[0].history_list %}
                <span class="badge badge-primary">{{ event }}</span>
              {% endfor %}
              {% for info in models[0].info_list %}
                <span class="badge badge-info">{{ info }}</span>
              {% endfor %}
            </span>
          {% endif %}
        </td>
      </thead>
   
      {% for model in models %}
        <tr>
          <td style="width: 20%">
            {{ model.body_part }}</b>
          </td>
          <td>
            {{ model.pose }},
            {% if model.arrangement == "natural" %}
              naturally arranged,
            {% else %}
              {{ model.arrangement }},
            {% endif %}
            {{ model.excited }}
            {% for tag in model.tags_list %}
              <span class="badge badge-secondary">{{ tag }}</span>
            {% endfor %}
          </td>
          <td class="text-right" style="width: 30%">
            <a href="/model/{{ model.display_code }}">{{ model.display_code }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
{%- endmacro %}

{% block scripts %}
{{ bootstrap.load_js() }}
<script>
$('table tbody tr').click(function() {
    console.log("click")
});
</script>
{% endblock %}
