{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h2>Browse by model</h2>
      <p>
      To find out more about our selection of models, please read our <a href="{{ url_for("model.diversity") }}">model diversity
      statement</a>. We also have <a href="{{ url_for("model.statistics") }}">model statistics</a>.  We have the following models available:
      </p>

      {% for model in model_list %}
        {{ list_models(model, models[model]) }}
      {% endfor %}

    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}

{% macro list_models(id, models) -%}
  <div class="browse-section">{{ id }}</div>
  <p>{{ models[0].sex }}, {{ models[0].body_type }}
     {% if models[0].given_birth != "no" %}
       , given_birth: {{ models[0].given_birth }}
      {% endif %}
  </p>
  <p>
      {% if models[0].history %}
         {{ models[0].history }}
      {% endif %}
      {% if models[0].tags %}
         {{ models[0].tags }}
      {% endif %}
      {% if models[0].comment %}
         <b>Model comment:</b> {{ models[0].comment }}
      {% endif %}
  </p>

  {% for model in models %}
        <p class="browse-model"><a href="/model/{{ model.display_code }}">{{ model.display_code }}</a>:
          {{ model.pose }},
          {% if model.arrangement == "natural" %}
            naturally arranged,
          {% else %}
            {{ model.arrangement }},
          {% endif %}
          {{ model.excited }}
        </p>
    {% endfor %}
{%- endmacro %}
