{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col-12 browse-layout">
      <h2>Browse by body part</h2>
      <p>
        This page lists all of the models we have available, arranged by body parts. If you wish to
        narrow down the list of models based on model attributes, please have a look at our 
        <a href="{{ url_for('browse.by_attributes') }}">browse by attribute</a> page.
      <p>
        If you're wondering why we have the collection of models we have, see our 
        <a href="{{ url_for("model.diversity") }}">model diversity statement</a> for more details.
      </p>

      {% for section in order %}
        {{ list_models(sections[section].models, sections[section].name) }}
      {% endfor %}

    </div>
  </div>
{% endblock%}

{% macro list_models(models, name) -%}
  <div>
    <p class="browse-section">{{ name }}</p>
    <table class="table table-striped">
    {% for model in models %}
      <tr>
        <td style="width: 50%">
           <a class="browse-model-link" href="/model/{{ model.display_code }}">{{ model.display_code }}</a> -
           {{ model.pose }},
           {% if model.arrangement == "natural" %}
             naturally arranged
           {% else %}
             {{ model.arrangement }}
           {% endif %}
        </td>
        <td style="width: 50%" class="text-right">
           {% if model.history_list %}
             <span class="model-tags">
             {% for event in model.history_list %}
               <a href="{{ url_for("browse.by_attributes", a=event) }}"><span class="badge badge-primary">{{ event }}</span></a>
             {% endfor %}
             </span>
           {% endif %}
           {% for tag in model.tags_list %}
             <a href="{{ url_for("browse.by_attributes", a=tag) }}"><span class="badge badge-secondary">{{ tag }}</span></a>
           {% endfor %}
           {% for i in model.info_list %}
             <a href="{{ url_for("browse.by_attributes", a=i) }}"><span class="badge badge-info">{{ i }}</span></a>
           {% endfor %}
       </td>
      </tr>
    {% endfor %}
    </table>
  </div>

{%- endmacro %}
