{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h2>Browse by history</h2>
      <p>
      To find out more about our selection of models, please read our <a href="{{ url_for("model.diversity") }}">model diversity
      statement</a>. We also have <a href="{{ url_for("model.statistics") }}">model statistics</a>.  We have the following models available:
      </p>


    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}
