{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col-12 browse-layout">
      <h2>Browse by body part</h2>
      <p>
        This page lists all of the models we have available, arranged by body parts. If you wish to
        narrow down the list of models based on model attributes, please have a look at our 
        <a href="{{ url_for('browse.browse_by_attributes') }}">browse by attribute</a> page.
      <p>
        If you're wondering why we have the collection of models we have, see our 
        <a href="{{ url_for("model.diversity") }}">model diversity statement</a> for more details.
      </p>

      {% for section in order %}
        {{ list_models(sections[section].models, sections[section].name) }}
      {% endfor %}

    </div>
  </div>
{% endblock%}

{% macro list_models(models, name) -%}
  <div>
    <p class="browse-section">{{ name }}</p>
      <table class="table">
      {% for model in models %}
         <tr>
           <td colspan="5">
             <div class="float-right">
                {% if  model.history_list %}
                  <span class="model-tags">
                  {% for event in model.history_list %}
                    <span class="badge badge-primary">{{ event }}</span>
                  {% endfor %}
                  </span>
                {% endif %}
                {% for tag in model.tags_list %}
                  <span class="badge badge-secondary">{{ tag }}</span>
                {% endfor %}
             </div>
             <div>
                <a class="browse-model-link" href="/model/{{ model.display_code }}">{{ model.display_code }}</a>
             </div>
           </td>
         </tr>
         <tr>
         <div>
           <td>{{ model.sex }}</td>
           <td>{{ model.given_birth }}</td>
           <td>{{ model.pose }}</td>
           <td>
             {% if model.arrangement == "natural" %}
               naturally arranged,
             {% else %}
               {{ model.arrangement }},
             {% endif %}
           </td>
           <td>
             {{ model.excited }}
           </td>
         </tr>
      {% endfor %}
    </table>
  </div>

{%- endmacro %}
