{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h2>Browse by model</h2>
      <p>
      To find out more about our selection of models, please read our <a href="{{ url_for("model.diversity") }}">model diversity
      statement</a>. We also have <a href="{{ url_for("model.statistics") }}">model statistics</a>.  We have the following models available:
      </p>

      {% for model in model_list %}
        {{ list_models(model, models[model]) }}
      {% endfor %}

    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}

{% macro list_models(id, models) -%}
    {% if models[0].common_tags_list %}
        <div class="float-right">
          {% if models[0].history_list %}
            <span class="history-tags">
              {% for event in models[0].history_list %}
                <span class="badge badge-primary">{{ event }}</span>
              {% endfor %}
            </span>
          {% endif %}
          {% for tag in models[0].common_tags_list %}
            <span class="badge badge-secondary">{{ tag }}</span>
          {% endfor %}
        </div>
    {% endif %}
    <div class="browse-section">
      {{ id }}
    </div>

    <table class="table table-hover table-sm">
      <thead>
        <td colspan="3">
          <span class="model-english">{{ models[0].english_description() }}</span>
        </td>
      </thead>
   
      {% for model in models %}
        <tr>
          <td style="width: 20%">
            {{ model.body_part }}
          </td>
          <td>
            <span class="pose-desc">
              {{ model.pose }},
              {% if model.arrangement == "natural" %}
                naturally arranged,
              {% else %}
                {{ model.arrangement }},
              {% endif %}
              {{ model.excited }}
              {% for tag in model.tags_list %}
                <span class="badge badge-secondary">{{ tag }}</span>
              {% endfor %}
            </span>
          </td>
          <td class="text-right" style="width: 30%">
            <a href="/model/{{ model.display_code }}">{{ model.display_code }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
{%- endmacro %}

{% block scripts %}
<script>
$('table tbody tr').click(function() {
    console.log("click")
});
</script>
{% endblock %}
