{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h2>Browse by history</h2>
      <p>
         To view the models that have the following attributes, click on one of the below:
      </p>

      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {% for event in events %}
              <a href="#" class="badge badge-primary">{{ event }}</a>
            {% endfor %}
          </li>
          <li class="list-group-item">
            {% for tag in tags %}
              <a href="#" class="badge badge-secondary">{{ tag }}</a>
            {% endfor %}
          </li>
          <li class="list-group-item">
            {% for i in info %}
              <a href="#" class="badge badge-info">{{ i }}</a>
            {% endfor %}
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}
{% block scripts %}
{{ bootstrap.load_js() }}
<script>

    $('#close-focus').on('click', toggle_focus_mode);

    function clicked(item) {


    }
</script>
{% endblock %}
