{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col-12 browse-layout">
      <h2>Browse by history</h2>
      <p>
         To view the models that have the following attributes, select one or 
         more of the buttons below to show the models:
      </p>

      <div class="card" id="buttons">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p><a href="#" class="badge badge-primary">history</a></p>
            {% for event in events %}
              <a href="#" id="e-{{ loop.index0 }}" class="btn btn-outline-primary btn-sm browse-btn">{{ event }}</a>
            {% endfor %}
          </li>
          <li class="list-group-item">
            <p><a href="#" class="badge badge-secondary">tags</a></p>
            {% for tag in tags %}
              <a href="#" id="t-{{ loop.index0 }}" class="btn btn-outline-secondary btn-sm browse-btn">{{ tag }}</a>
            {% endfor %}
          </li>
          <li class="list-group-item">
            <p><a href="#" class="badge badge-info">info</a></p>
            {% for i in info %}
              <a href="#" id="i-{{ loop.index0 }}" class="btn btn-outline-info btn-sm browse-btn">{{ i }}</a>
            {% endfor %}
          </li>
        </ul>
      </div>
      <div id="results">
         <p id="results-msg" style="font-size: 18; margin-top: 2rem; color: #555;" class="text-center">
           No results.
         </p>
      </div>
    </div>
  </div>
{% endblock%}
{% block scripts %}
<script>
    var model_index = JSON.parse({{ models |tojson }});
    var info_list = JSON.parse({{ info_list |tojson }});
    var tags_list = JSON.parse({{ tags_list |tojson }});
    var events_list = JSON.parse({{ events_list |tojson }});
    var model_list = [];
    var last_popover = null;

    $('#buttons a').on('click', clicked);


    function clicked(event) {
        id = event.currentTarget.id
        type = id[0];
        index = parseInt(id.substr(2))
        if (type == 'e') {
            $("#" + id).toggleClass("btn-outline-primary");
            $("#" + id).toggleClass("btn-primary");
            update_model_list();
        } 
        else  
        if (type == 't') {
            $("#" + id).toggleClass("btn-outline-secondary");
            $("#" + id).toggleClass("btn-secondary");
            update_model_list();
        } 
        else  
        if (type == 'i') {
            $("#" + id).toggleClass("btn-outline-info");
            $("#" + id).toggleClass("btn-info");
            update_model_list();
        } 
    }

    function update_model_list() {
        models = []

        $("#buttons a").each(function(index, element) {
            var id = element.id
            var type = id[0];
            if (!type)
                return
            if ($("#" + id).hasClass("btn-primary")) {
                index = parseInt(id.substr(2));
                for(i = 0; i < events_list[index].length; i++)
                    for(j = 0; j < events_list[index][1].length; j++)
                        models.push(events_list[index][1][j])
            }
            if ($("#" + id).hasClass("btn-secondary")) {
                index = parseInt(id.substr(2));
                for(i = 0; i < tags_list[index].length; i++)
                    for(j = 0; j < tags_list[index][1].length; j++)
                        models.push(tags_list[index][1][j])
            }
            if ($("#" + id).hasClass("btn-info")) {
                index = parseInt(id.substr(2));
                for(i = 0; i < info_list[index].length; i++)
                    for(j = 0; j < tags_list[index][1].length; j++)
                        models.push(info_list[index][1][j])
            }
        });

        models = [...new Set(models)]
        if (last_popover)
            $('#' + last_popover).popover('hide');
        $("#results").empty();

        for(m = 0; m < models.length; m++) {
            model = model_index[models[m]];
            $("#results").append('<div><a class="browse-model-link" href="/model/' + model.display_code + '">' + model.display_code + '</a>' +
                                      '<p>' + model.english_description + '</p>' + 
                                      '<button type="button" id="p-' + m + '" class="btn btn-secondary" data-toggle="popover" ' +
                                      'title="' + model.display_code + '" data-code="' + model.display_code + '">quick preview</button>' + 
                                 '</div>');
        }
        $('[data-toggle="popover"]').popover({
              trigger: 'click',
              html: true,
              content: function () {
                  if (last_popover)
                      $('#' + last_popover).popover('hide');

                  last_popover = this.id;
                  model = model_index[$(this).data('code')]
                  return '<a href="/model/' + model.display_code + '"><img class="img-fluid" src="'+ model.screenshot_url + '" /></a>';
              },
              title: 'preview'
        });
    }

</script>
{% endblock %}
