{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col-12 browse-layout">
        <h2>Illustrated guide to human sexual anatomy</h2>

        <p>
           The models you see on our site are intended to give you the idea of the shape, look and the vast
           differences between people. However, a lot of our models are taken out of context -- most times you don't get
           to see the rest of the person. Quite a lot about the person is lost when they become a 3D model on this site.
           In this illustated guide we hope to give you and idea of what our models may look like in real life. You'll
           see that there is a lot of diversity and depth to human beings.
        </p>

        <h4>General</h4>
        <p>
           To start off with, we have a group of people: Young, old, thin, overweight, differently abled, different cultures:
        </p>
        <div class="pngcontainer1">
           <img class="guide-image" id="group-overlay" src="{{ static_url_for('static', filename='img/illustrations/group_overlay.png') }}">
           <img class="guide-image" id="group" src="{{ static_url_for('static', filename='img/illustrations/group.png') }}">
        </div>
        <p>
           Did you notice some of the following? <a href="https://en.wikipedia.org/wiki/Stretch_marks">Stretch marks<a/>, 
           <a href="https://en.wikipedia.org/wiki/Lichen_sclerosus">skin conditions</a>, a tampon string, lots of body hair? 
           Tatoos, colored hair, make-up? What about how people are 
           standing or sitting?
        </p>

        <h4>Cisgender Females</h4>
        <p>
           Now let's look at more specific examples of females, in this case <a href="https://en.wikipedia.org/wiki/Cisgender">
           cisgender</a> females:
        </p>
        <img class="guide-image" src="{{ static_url_for('static', filename='img/illustrations/cis_female.png') }}">
        <p>
           Here you can see a female with a <a href="https://en.wikipedia.org/wiki/Mastectomy">mastectomy</a>, different 
           <a href="https://en.wikipedia.org/wiki/Labia">labia</a> sizes, piercings and leg hair. What else?
        </p>

        <h4>Cisgender Males</h4>
        <p>
           Below are cisgender males -- pay close attention to their testicles:
        </p>
        <img class="guide-image" src="{{ static_url_for('static', filename='img/illustrations/cis_male.png') }}">
        <p>
           This illustration shows diffent testicle sizes, including one male who has one missing. Did you see scars
           or hair pigment anomaly?
        </p>

        <h4>Penises</h4>
        <p>
           Here are some illustrations of penises and how they might look in a more realistic context:
        </p>
        <img class="guide-image" src="{{ static_url_for('static', filename='img/illustrations/penis_closeup.png') }}">
        <p>
           We can clearly see that testicles and penises come in different shapes and sizes and that the size of one will
           not be related to the size of the other.
        </p>

        <h4>Vulvas</h4>
        <p>
           And now the same for vulvas, showing two different examples:
        </p>
        <img class="guide-image" src="{{ static_url_for('static', filename='img/illustrations/vulva_closeup.png') }}">
        <p>
           You can see different sizes and shapes of vulvas. One person is a mother and has a scar from the birth -- can you
           spot the <a href="https://en.wikipedia.org/wiki/Episiotomy">episiotomy scar</a>?
        </p>

        <h4>Intersex people</h4>
        <p>
           Below is an illugration of intersex people, in-between male and female:
        </p>
        <img class="guide-image" src="{{ static_url_for('static', filename='img/illustrations/intersex_closeup.png') }}">
        <p>
          The person on the left represents a case of <a href="https://en.wikipedia.org/wiki/Clitoromegaly">Clitoromegaly</a>, 
          the person on the right a case of <a href="https://en.wikipedia.org/wiki/Hypospadias">hypospadias</a>. 
          Keep in mind, there are <em>many</em> variations for intersex genitalia, this is just a tiny sample.
          Not everyone is born with what many people consider to be a binary set of genitals. There are many 
          people who are <a href="https://en.wikipedia.org/wiki/Hermaphrodite">hermaphrodites</a> -- people whose genitals
          may may share traits from both sexes.
        </p>

        <h4>Transgender males</h4>
        <p>
           Here we have transgender males -- think of what you consider a transgender male looks like. Do these males
           fit your expectations?
        </p>
        <img class="guide-image" src="{{ static_url_for('static', filename='img/illustrations/trans_males.png') }}">
        <p>
           Only one person has undergone gender reaffirming surgery and now has a penis. Did you notice the mastectomy
           scars, hairy nipples, and a person with clitoromegaly? The person on the right is just now starting
           their journey to reaffirm their gender and is undergoing 
           <a href="https://en.wikipedia.org/wiki/Transgender_hormone_therapy">transgender hormone treatment</a>.
        </p>

        <h4>Transgender females</h4>
        <p>
           Last, but certainly not least, we have transgender females:
        </p>
        <img class="guide-image" src="{{ static_url_for('static', filename='img/illustrations/trans_females.png') }}">
        <p>
           Did you spot the signs of weight loss? That two females have a penis? We think it is imporant to be aware
           of the fact that when someone says that they are transgender, that you cannot make any assumptions about
           their bodies.
        </p>

        <p>
           <em><b>As you can see, people come in many shapes and sizes. We are all normal and we are beautiful!</b></em> ❤️
        </p>
    </div>
  </div>
{% endblock%}


{% block scripts %}
<script type="module">


$("#group").mouseenter(function() {
        console.log("enter");
        $("#group-overlay").css('z-index', '2');
});
$("#group-overlay").mouseleave(function() {
        console.log("exit");
        $("#group-overlay").css('z-index', '0');
});

</script>
{% endblock %}
