{%- extends 'base.html' -%}
{% set navbar_hidden = True %}
{% set footer_hidden = True %}
{%- block content -%}
<div class="row">

    <div class="col-12 text-center"> 
      <p>
        <img class="index-logo" src="{{ static_url_for('static', filename='img/wearebeautiful.svg') }}">
      <p>
      <div class="tagline">
        Come for the bits, stay for the education.
      </div>
    </div>

</div>
<div class="row" style="margin-bottom: 2rem;">
    <div class="col-md-8"> 
      <div>
        <p class="index-text">
           We create 3D models of human genitals with the aim of breaking taboos, educating at a global level, 
           and improving our users’ body self image. We aim to enable educators to do the same by making the
           3D models freely available for viewing online and for downloading/printing under the CC0 license.
        </p>
        <p class="index-text">
           Our photographer takes photos of volunteers and processes these photos to produce 3D models of their
           genitals and other body parts. These 3D models are freely available for viewing on this site and for
           downloading so that you may print them on your own 3D printer.
        </p>
        <p class="index-text">
           There is a lack of educational material that shows the diversity of our bodies and pornography
           is often used to poorly fill these gaps. However, pornography also doesn't have a lot of diversity,
           and we feel that many people have no idea whether their own genitals look <i>normal</i>. We hope to 
           show that there is no <i>normal</i> and that we are all beautiful.
        </p>
      </div>
    </div> 
    <div class="col-md-4 text-center">
      <img class="index-image" src="{{ url_for_screenshot('000000', 'HSNN', 1) }}">
      <img class="index-image" src="{{ url_for_screenshot('694420', 'HTAX', 1) }}">
    </div>
</div>
<div class="row text-layout"" id="index-red-pill">
    <div class="col-md-12 text-center"> 
       <button id="bits-button" type="button" class="btn btn-danger btn-lg" style="width: 75%">
          I agree to view models of human genitals!
       </button>
    </div> 
</div>
<div id="index-nsfw">
  <div class="row">
     <div class="col-md-8"> 
        <p class="index-text">
           We have {{ model_count }} models of vulvas, penises, breasts, full body and partial body scans.
           All of our models are between {{ min_age }} and {{ max_age}} years old and span a wide range 
           of <a href="{{ url_for('docs.diversity') }}">ages, body types and countries of origin</a>. We've 
           carefully curated all the metadata of our models and are
           releasing the public information while <a href="{{ url_for('index.privacy') }}">carefully protecting</a> the
           private information. We never reveal the identity of our models and this information does not exist online at all.
        </p>
        <p class="index-text">
           We invite you to browse our models online, download the 3D solids for printing or order a print online. You may also
           download the surfaces and use them in your own 3D modeling projects. Start browsing now:
        </p>
        <p class="index-text">
           <a href="{{ url_for('browse.by_part') }}">browse by body part</a>: All models organized by body part.
        </p>
        <p class="index-text">
           <a href="{{ url_for('browse.by_model') }}">browse by model</a>: All models organized by the human model.
        </p>
        <p class="index-text">
           <a  href="{{ url_for('browse.by_attributes') }}">browse by attributes</a>: Browse models based on the data about our models.
        </p>
        <p class="index-text">
           <a  href="{{ url_for('browse.by_date') }}">browse by date</a>: Browse models based on their creation date.
        </p>

        <p class="index-text">
          If you are unclear on any of the terminology presented on this site, we have an 
          <a href="{{ url_for('docs.guide') }}">illustrated guide to human sexual anatomy</a> to help
          guide you through the various concepts:
          <a href="{{ url_for('docs.guide') }}">
            <img class="guide-image" src="{{ static_url_for('static', filename='img/illustrations/group-low-sat.png') }}">
          </a>
        </p>
     </div>
     <div class="col-md-4"> 
         <div class="text-center">
            <h4>Sample models</h4>
         </div>
         <div id="image-carousel" class="carousel slide" data-ride="carousel">
           <div class="carousel-inner">
             {% for slide in sample_models %}
               <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                 <a href="{{slide.link}}" class="carousel-link">
                    <img class="d-block w-100 index-image" src="{{ slide.screenshot }}" alt="{{ slide.desc }}">
                 </a>
               </div>
             {% endfor %}
           </div>
           <a class="carousel-control-prev" href="#image-carousel" role="button" data-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
           </a>
           <a class="carousel-control-next" href="#image-carousel" role="button" data-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
           </a>
         </div>

         <div class="text-center">
            <h4 style="padding-top: 25px">Staff picks</h4>
         </div>
         <div id="picks-carousel" class="carousel slide" data-ride="carousel">
           <div class="carousel-inner">
             {% for slide in picks_models %}
               <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                 <a href="{{slide.link}}" class="carousel-link">
                   <img class="d-block w-100" src="{{ slide.screenshot }}" alt="{{ slide.desc }}">
                 </a>
               </div>
             {% endfor %}
           </div>
           <a class="carousel-control-prev" href="#picks-carousel" role="button" data-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
           </a>
           <a class="carousel-control-next" href="#picks-carousel" role="button" data-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="sr-only">Next</span>
           </a>
         </div>

     </div> 

  </div>

  <div class="row">
     <div class="col-md-12 index-text"> 
         <h4 style="padding-top: 25px">Most recently released models</h4>
         <div id="recent-models" class="row">
            {% for m in recent_models %}
              <div class="col-md-4">
                  <p style="margin-bottom: 1px"><a href="/model/{{ m.display_code }}">{{ m.display_code }}</a></p>
                  <a href="/model/{{ m.model_id }}-{{ m.code }}-{{ m.version }}"><img src="{{ url_for_screenshot_m(m) }}" class="screenshot"></a>
              </div>
            {% endfor %}
         </div>
     </div> 
  </div>

</div>
{% endblock%}

{% block scripts %}
<script>
var revealed = false;
$(document).ready(function() {
   $('#bits-button').on('click', show_me_bits_clicked);
});
function show_me_bits_clicked() {
   $("#index-nsfw").slideDown(200);
   $("#navbar").toggleClass("invisible");
   $("#footer").toggleClass("invisible");
   $("#index-red-pill").slideUp(200);
}
</script>
{% endblock %}


