{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col-12 text-layout">
        <h2>Model exhibits</h2>

        {% if error %}
           <div class="alert alert-danger" role="alert">
              {{ error }}
           </div>
        {% endif %}

        <p>
          We have many models available on this site and it can be hard to know where to start. In these
          exhibit pages we would like to highlight a some of our models. While most of the models on the
          site are straighforward 3D representations of humans models, other models are more complex
          or belong in a series that may not be immediately obvious.
        </p>

        <p>
          For each exhibit we have a downloadable model kit that contains the ready-to-print models 
          described in the exhibit. We hope that these kits will be useful to sexual education
          teachers and will provide better tools to use in class.
        </p>

        {% for kit in kits %}
          <div>
            <div class="kit-name">{{ kit.name }}</div>
            <div class="kit-tagline">{{ kit.tagline }}</div>
            <div class="kit-desc">{{ kit.desc }}</div>
            <div class="row">
              {% for model in kit.models[:3] %}
                <div class="col-sm-4 text-center">
                  <div>
                    {{ model.model }}
                  </div>
                  <a href="/model/{{ model.model }}">
                    <img src="{{ model.screenshot }}" style="width: 200px">   
                  </a>
                </div>
              {% endfor %}
            </div>
            <div class="row kit-buttons">
              <div class="col-sm-6 text-center">
                <button type="button" class="btn btn-large btn-secondary" style="width: 60%" href="/browse/kit/{{ kit.version }}">View Exhibit</button>
              </div>
              <div class="col-sm-6 text-center">
                <button type="button" class="btn btn-large btn-secondary" style="width: 60%" href="/browse/kit/{{ kit.version }}">Download kit</button>
              </div>
            </div>
          </div>
        {% endfor %}

    </div>
  </div>
{% endblock%}
