body {
    background: #EEEEEE;
}

h2 { 
    margin-top: .5em;
    margin-bottom: .5em;
}

.model-desc { 
    font-size: 17pt; 
    font-width: bold;
    padding-bottom: .5em;
}

.text-div {
    max-width: 700px;
    margin-top: 1em;
}

.team-name {
    font-size: 13pt;
    font-weight: bold;
    margin-top: .5em;
}

.team-title {
    font-style: italic;
    margin-top: -15px;
    color: #888;
}

.quote {
    font-style: italic;
    margin-left: 25px;
}

#index-img-div {
    overflow-y: scroll;
    height: 100%; 
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px; 
}

.model-link {
    text-decoration: none;
}

.screenshot {
    width: 90%;
    object-fit: cover;
    max-width: 500px;
}

.index-cell {
    padding: 10px;
}

.browse-section {
    font-size: 15pt;
    margin-top: 1em;
}
.browse-model {
    font-size: 13pt;
    margin-top: 1em;
}

.txt-cell {
    background: #EEE; 
}

#view-info {
    font-size: 18pt;
    color: #AAA;
    position: absolute;
    width: 100%;
    right: 5px;
    z-index: 2;
}

#progress {
    font-size: 18pt;
    color: #AAA;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.donate-btn {
    margin-top: 10px;
    width: 70%;
}

.navbar {
  z-index: 3;
  font-size: 15pt;
}

.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
      animation: dot 1.3s infinite;
      animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
     animation: dot 1.3s infinite;
     animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}
