body {
    background: #fcfcfc;
}

h2 { 
    margin-top: .5em;
    margin-bottom: .5em;
}

.text-div {
    max-width: 700px;
    margin-top: 1em;
}

.team-name {
    font-size: 13pt;
    font-weight: bold;
    margin-top: .5em;
}

.team-nickname {
    font-size: 10pt;
    font-weight: italic;
    margin-top: .5em;
}

.team-title {
    font-style: italic;
    margin-top: -15px;
    color: #888;
}

.quote {
    font-style: italic;
    margin-left: 25px;
}

.screenshot {
    width: 80%;
    border-radius: 15px;
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px; 
}

.model-link {
    text-decoration: none;
}

.screenshot {
    width: 90%;
    object-fit: cover;
    max-width: 500px;
}

.index-cell {
    padding: 10px;
}

.browse-section {
    font-size: 15pt;
    margin-top: 1em;
}
.browse-model {
    font-size: 13pt;
    margin-top: 1em;
}

.txt-cell {
    background: #EEE; 
}

.model-desc { 
    font-size: 17pt; 
    font-width: bold;
    padding-bottom: .5em;
}

#focus-overlay {
    position: absolute;
    z-index: 1;
    font-size: 30pt; 
    font-width: bold;
}

.focus-button {
    color: #333;
}

#code-overlay {
    position: absolute;
    z-index: 1;
    color: #333;
    font-size: 17pt; 
    padding-left: 5px;
}

#nav-overlay {
    position: absolute;
    z-index: 1;
    padding-left: 5px;
}

#model {
}

.color-well {
    background-color: #ff0000;
    width: 35px;
    height: 25px;
    margin-left: 8px;
    margin-bottom: 8px;
}

.donate-btn {
    margin-top: 10px;
    width: 90%;
}

.navbar {
  z-index: 3;
  font-size: 15pt;
}

