{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col-12 text-layout">
      <h2>Contact Us</h2>
      <p>
        There are a number of ways to contact us:
      </p>
       
      <h5>Legal address</h5>
      <p>
         The legal address for Quatsch und Unfug ÖU is:
      </p>
      <p class="quote">
         Quatsch und Unfug OÜ<br>   
         Narva mnt 5</br>
         10117 Tallinn</br>
         Estonia</br>
         Talinn, Estonia</br>
         Registration number: 14891741
      </p>
      <p>
         Please note we're a virtual company and no actual team members are present at
         this location. Only the nice people who forward our mail for us, so please don't bother them.
      </p>

      <h5>Email</h5>
      
      <p>
         If you'd like to contact us, here is our email address:
      </p>

      <p class="quote">
         <code>hello at wearebeautiful dot info</code>
      </p>

      <h5>GitHub</h5>
      
      <p>
         We use GitHub to manage the source code for our projects and the models themselves. You can
         find all the technical details about this project at our <a href="https://github.com/wearebeautiful">
         GitHub page</a>.
      </p>

      <h5>Twitter</h5>
      
      <p>
         We also have a Twitter account (<a href="https://twitter.com/quatschunfug">@quatschunfug</a>), if you'd like to follow us for news about new models being released:
      </p>

      <p>
        <a href="https://twitter.com/quatschunfug" class="twitter-follow-button" data-show-count="false">Follow @QuatschUnfug</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </p>

    </div>
  </div>
{% endblock%}
