@import "node_modules/bootstrap/scss/bootstrap";

@import "./colors.scss";

$theme-colors: (
    "primary":   $THEME_BASE_COLOR,  // used for history pills
    "secondary": #CF5E2D,  // used for tags pills
    "info":      #CF412D,  // related info to model pills
    "light":     #F2ECE5,  // backgrounds and such
    "danger":    #CF502D   // danger
);

$link-color:       #cf7c2d;
$link-hover-color: #F59235;
$link-visited-color: #A86524;

@import "bootstrap";
