@import "node_modules/bootstrap/scss/bootstrap";

@import "colors";

$theme-colors: (
    "primary":   $THEME_BASE_COLOR,  // used for history pills
    "secondary": #CF5E2D,  // used for tags pills
    "info":      #CF412D,  // related info to model pills
    "light":     #F2ECE5,  // backgrounds and such
    "danger":    #CF502D   // danger
);

$link-color:       #cf7c2d;
$link-hover-color: #F59235;
$link-visited-color: #A86524;

@import "bootstrap";

#color-well-1 {
    background-color: $OBJECT_COLOR_0;
}

#color-well-2 {
    background-color: $OBJECT_COLOR_1;
}

#color-well-3 {
    background-color: $OBJECT_COLOR_2;
}

#model {
    background-color: $BG_COLOR;
}
