@import "node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
    "primary":   #413c69,  // used for history pills
    "secondary": #4a47a3,  // used for tags pills
    "success":   #ad62aa,  // donate buttons
    "info":      #eab9c9   // related info to model pills
);

$link-color:       #4a47a3;
$link-hover-color: #121128;
$link-visited-color: #5C58CB;

@import "bootstrap";
